
<div>
<h1>Register:</h1>


<ul class="sign-in-form">
<%= form_for :user, url: '/users' do |f| %>
  <li><h5>Name:</h5> <%= f.text_field :name %></li>
  <li><h5>Email:</h5> <%= f.text_field :email %></li>
  <li><h5>Password:</h5> <%= f.password_field :password %></li>
  <li><h5>Password Confirmation:</h5> <%=  f.password_field :password_confirmation %></li>
  <li class="button"><%= f.submit "Submit" %></li>
  <% end %>
</ul>

<img src="https://cdn.pixabay.com/photo/2016/04/01/09/52/cartoon-1299636_960_720.png">
</div>